body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: cyan;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html{
  font-size: 62.5%;
  
}


.App{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height:100%;
  flex-direction: column;
  font-size: 2rem;
}
input::-webkit-inner-spin-button,input::-webkit-outer-spin-button{
  appearance: none;
}
input[type = number]{
  appearance: textfield;
  font-size: 2rem;
   text-align: right;
   background-color: rgb(238, 229, 229);
   padding:0.5rem 2.4rem;
   font-weight: 700;
   font-family: "Space-Mono",monospace;
   border:none;
   border-radius: 1rem; 
}

input > .inputError { 
  border:1rem solid red;
  color:pink;
}

input:focus{
   outline: none;
   flex: 1;
   appearance: none;
   border: none;
   border:2px solid rgb(19, 73, 73);
   
}

button{
  font-size: 2rem;
  font-weight: bold;
  border:none;
  border-radius: 1rem;
}
.main{
  background-color:white;
  min-height:50vh;
  width:800px;
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding:1rem;
  border-radius: 1rem;
  
}
.buttons{
 
  width:auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgb(23, 49, 49);
  color:white;
  text-align: center;
  font-weight: 700;
}
.buttons:hover{
  background-color: cyan;
  
}
.btn_input{
 
  background-color: rgb(238, 229, 229);
  border:none;
  border-radius: 1rem;

}

.buttonContainer{
display:grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(2,1fr);
gap:2rem;
margin-top: 1rem;
margin-bottom: 1rem;

}
.mainRight{
  background-color: rgb(25, 68, 68);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:100%;
}
.mainLeft,.mainRight{
  flex:1 1 0;
  padding:2rem;
  width:auto;
}
.finalCalculation{
  display:flex;
  margin-bottom: 1rem;
  width:100%;
  position: relative;
}
.finalCalculation > input{
  font-size: 2rem;
  font-weight: 900;
 background-color: rgb(25, 68, 68);
}
.mainRight > button{
  justify-self:flex-end;
}
.mainRight >button:hover, .mainRight > button:active{
  opacity: 0.5;
}
.tip{
  position:relative;
  margin-bottom: 1rem;
  margin-top:1rem;
}
.tip >input{
  width:100%;
}
 .tip>.img{
  position:absolute;
  left:2rem;
  top:0.7rem;
}
.finalCalculation>.img{
  position: absolute;
  right:15rem;
  top:3.8rem;

}
.visibility{
  visibility: visible;
}

@media  screen and (max-width:600px) {
  
  .buttonContainer{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:1rem;
    }
    .main{
      width:400px;
    }
}
.error_message{
  display: flex;
  flex-direction: column;
}
.error{
  visibility: hidden;
}
.error1{
  align-self: flex-end;
  color:red;
}

p,h1,h2,label{
margin-top:1rem;
margin-bottom:1rem;
}